<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<main>

<form class="form-inline my-2 my-lg-0 justify-content-center sticky-top">
        <input class="form-control mr-sm-2" type="search" #myInput placeholder="Search" aria-label="Search">
        <a (click)="getThem(myInput.value)" routerLink="/Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
      </form>



<h2 style="text-align: center">Search Results for {{myInput.value}}</h2>
<div class="d-flex flex-row flex-wrap bd-highlight mb-4 justify-content-center">
<ul *ngFor ="let re of ser.results.albummatches.album">
      <li >
          <article class="card" style="width: 18rem;">
              <img src='{{re.image[3]["#text"]}}' alt ="artist image">
              <h6 #myAlbum>{{re.name}}</h6>
              <h6 #myArtist>{{re.artist}}</h6>
              <button class="btn btn-outline-warning my-2 my-sm-0" (click)="getBoth(myAlbum.value,myArtist.value)" routerLink="/Info">Get More Info</button>
            </article>  </li>

</ul>
</div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
